# peersim.Simulator configuration file for the plotting the network graph

# N						<number of nodes>
# K						<number of out links for wire_kout>
# CL					<number of clusters for wire_cl>

# include.init			<wire_fc | wire_cl | wire_kout> graph
# init.graph.filename	<output filename>

# wire_fc	... fully connected
# wire_kout	... k random edges per node
# wire_cl	... clusters: all nodes within a cluster fully connected; only one edge connecting any two clusters

#-------------------------------------------

N	8
K	4
CL	3

#-------------------------------------------

network.size N
simulation.cycles 1

#-------------------------------------------

protocol.lnk IdleProtocol

#-------------------------------------------

init.wire_fc WireKOut
init.wire_fc.protocol lnk
init.wire_fc.undir
init.wire_fc.k N-1

init.wire_kout WireKOut
init.wire_kout.protocol lnk
init.wire_kout.undir
init.wire_kout.k K

init.wire_cl univie.cs.psps.utils.WireClusters
init.wire_cl.protocol lnk
init.wire_cl.undir
init.wire_cl.clusters CL

init.graph univie.cs.psps.utils.GraphWriter
init.graph.protocol lnk
init.graph.undir
init.graph.filename plot/default.dot

include.init wire_cl graph

#-------------------------------------------

control.degree DegreeStats
control.degree.protocol lnk
control.degree.method freq
