# peersim.Simulator configuration file for the plotting the network graph

# N						<number of nodes>
# K						<number of out links for wire_kout>
# CL					<number of clusters for wire_cl>

# include.init			<wire_fc | wire_cl | wire_kout> graph
# init.graph.filename	<output filename>

# wire_fc	... fully connected
# wire_kout	... k random edges per node
# wire_cl	... clusters: all nodes within a cluster fully connected; only one edge connecting any two clusters

#-------------------------------------------

N	12
K	4
CL	3

#-------------------------------------------

network.size N
simulation.cycles 1

#-------------------------------------------

protocol.lnk IdleProtocol

#-------------------------------------------

init.wire_fc WireKOut
{
	protocol lnk
	undir
	k N-1
}

init.wire_kout WireKOut
{
	protocol lnk
	undir
	k K
}

init.wire_cl univie.cs.psps.utils.WireClusters
{
	protocol lnk
	undir
	clusters CL
}

init.graph univie.cs.psps.utils.GraphWriter
{
	protocol lnk
	undir
	filename plot/default.dot
}

include.init wire_cl graph

#-------------------------------------------

control.degree DegreeStats
{
	protocol lnk
	method freq
}
