# peersim.Simulator configuration file for the cycle-driven Push-Pull

# N						<number of nodes>
# CYCLES				<max cycles>
# ACC					<desired precision>
# K						<number of out links for wire_kout>
# CLUSTERS				<number of clusters for wire_cl>
# MEAN					<mean value>

# include.init 			<wire_fc | wire_kout | wire_cl> <dist_lin | dist_peak>
# control.obs.plotFile	<output filename>
# random.seed			<seed> 

# wire_fc	... fully connected
# wire_kout	... k random edges per node
# wire_cl	... clusters: all nodes within a cluster fully connected; only one edge connecting any two clusters

# dist_lin	... node values are distributed linearly among all nodes
# dist_peak ... a peak value at one node; all other nodes have the same value 

#-------------------------------------------

N			10
CYCLES		1000000
ACC			1e-16
K			8
CLUSTERS	4
MEAN		2

#-------------------------------------------

network.size N
network.node GeneralNode

simulation.experiments 1
simulation.cycles CYCLES

#-------------------------------------------

protocol.lnk IdleProtocol

protocol.pp univie.cs.psa.PushPullCD
protocol.pp.linkable lnk

#-------------------------------------------

init.wire_fc WireKOut
init.wire_fc.protocol lnk
init.wire_fc.undir
init.wire_fc.k N-1

init.wire_kout WireKOut
init.wire_kout.protocol lnk
init.wire_kout.undir
init.wire_kout.k K

init.wire_cl univie.cs.psa.utils.WireClusters
init.wire_cl.protocol lnk
init.wire_cl.undir
init.wire_cl.clusters CLUSTERS

init.dist_peak PeakDistribution
init.dist_peak.protocol pp
init.dist_peak.setter setValue
init.dist_peak.getter getValue
init.dist_peak.value (N*MEAN)-(N-1)
init.dist_peak.background 1

init.dist_lin LinearDistribution
init.dist_lin.protocol pp
init.dist_lin.setter setValue
init.dist_lin.getter getValue
init.dist_lin.min MEAN-1
init.dist_lin.max MEAN+1

include.init wire_fc dist_lin

##-------------------------------------------

control.shf Shuffle

control.obs univie.cs.psa.utils.ValueWeightObserver
control.obs.protocol pp
control.obs.accuracy ACC

include shf obs
