# peersim.Simulator configuration file for the event-driven Push-Pull

# N						<number of nodes>
# STEP					<step size>
# STEPS					<max steps>
# PRECISION				<desired precision>
# K						<number of out links for wire_kout>
# CLUSTERS				<number of clusters for wire_cl>
# MEAN					<mean value>
# MINDELAY				<min message delay>
# MAXDELAY				<max message delay>
# DROP					<message drop rate>

# include.init 			<wire_fc | wire_kout | wire_cl> <dist_lin | dist_peak> timer
# control.obs.plotFile 	<output filename>
# random.seed 			<seed>

# wire_fc	... fully connected
# wire_kout	... k random edges per node
# wire_cl	... clusters: all nodes within a cluster fully connected; only one edge connecting any two clusters

# dist_lin	... node values are distributed linearly among all nodes
# dist_peak ... a peak value at one node; all other nodes have the same value 

#-------------------------------------------

N			10
STEP		1000
STEPS		1000000
PRECISION	1e-16
K			8
CLUSTERS	4
MEAN		2
MINDELAY	0
MAXDELAY	0
DROP		0

#-------------------------------------------

network.size N
network.node GeneralNode

simulation.experiments 1
simulation.logtime STEP
simulation.endtime STEP*STEPS

#-------------------------------------------

protocol.lnk IdleProtocol

protocol.urt UniformRandomTransport
protocol.urt.mindelay STEP*MINDELAY
protocol.urt.maxdelay STEP*MAXDELAY

protocol.drop UnreliableTransport
protocol.drop.transport urt
protocol.drop.drop DROP

protocol.pp univie.cs.psps.PushPullED                                     
protocol.pp.linkable lnk
protocol.pp.transport drop
protocol.pp.step STEP

#-------------------------------------------

init.wire_fc WireKOut
init.wire_fc.protocol lnk
init.wire_fc.undir
init.wire_fc.k N-1

init.wire_kout WireKOut
init.wire_kout.protocol lnk
init.wire_kout.undir
init.wire_kout.k K

init.wire_cl univie.cs.psps.utils.WireClusters
init.wire_cl.protocol lnk
init.wire_cl.undir
init.wire_cl.clusters CLUSTERS

init.dist_peak PeakDistribution
init.dist_peak.protocol pp
init.dist_peak.setter initializeValue
init.dist_peak.value (N*MEAN)-(N-1)
init.dist_peak.background 1

init.dist_lin LinearDistribution
init.dist_lin.protocol pp
init.dist_lin.setter initializeValue
init.dist_lin.min MEAN-1
init.dist_lin.max MEAN+1

init.timer univie.cs.psps.msg.BroadcastTimerMessages
init.timer.protocol pp
init.timer.step STEP

include.init wire_fc dist_lin timer

##-------------------------------------------

control.obs univie.cs.psps.utils.AggregationProtocolObserver
control.obs.protocol pp
control.obs.step STEP
control.obs.precision PRECISION

include shf obs
