# peersim.Simulator configuration file for the event-driven Push-Pull

# N						<number of nodes>
# STEP					<step size>
# STEPS					<max steps>
# PRECISION				<desired precision>
# K						<number of out links for wire_kout>
# CLUSTERS				<number of clusters for wire_cl>
# MEAN					<mean value>
# MINDELAY				<min message delay>
# MAXDELAY				<max message delay>
# DROP					<message drop rate>

# include.init 			<wire_fc | wire_kout | wire_cl> <dist_lin | dist_peak> timer
# control.obs.plotFile 	<output filename>
# random.seed 			<seed>

# wire_fc	... fully connected
# wire_kout	... k random edges per node
# wire_cl	... clusters: all nodes within a cluster fully connected; only one edge connecting any two clusters

# dist_lin	... node values are distributed linearly among all nodes
# dist_peak ... a peak value at one node; all other nodes have the same value 

#-------------------------------------------

N			10
STEP		1000
STEPS		1000000
PRECISION	1e-16
K			8
CLUSTERS	4
MEAN		2
MINDELAY	0
MAXDELAY	0
DROP		0

#-------------------------------------------

network.size N
network.node GeneralNode

simulation.experiments 1
simulation.logtime STEP
simulation.endtime STEP*STEPS

#-------------------------------------------

protocol.lnk IdleProtocol

protocol.urt UniformRandomTransport
{
	mindelay STEP*MINDELAY
	maxdelay STEP*MAXDELAY
}

protocol.drop UnreliableTransport
{
	transport urt
	drop DROP
}

protocol.pp univie.cs.psps.PushPullED   
{                                  
	linkable lnk
	transport drop
	step STEP
}

#-------------------------------------------

init.wire_fc WireKOut
{
	protocol lnk
	undir
	k N-1
}

init.wire_kout WireKOut
{
	protocol lnk
	undir
	k K
}

init.wire_cl univie.cs.psps.utils.WireClusters
{
	protocol lnk
	undir
	clusters CLUSTERS
}

init.dist_peak PeakDistribution
{
	protocol pp
	setter initializeValue
	value (N*MEAN)-(N-1)
	background 1
}

init.dist_lin LinearDistribution
{
	protocol pp
	setter initializeValue
	min MEAN-1
	max MEAN+1
}

init.timer univie.cs.psps.msg.BroadcastTimerMessages
{
	protocol pp
	step STEP
}

include.init wire_fc dist_lin timer

##-------------------------------------------

control.obs univie.cs.psps.utils.AggregationProtocolObserver
{
	protocol pp
	step STEP
	precision PRECISION
}

include shf obs
