# peersim.Simulator configuration file for the cycle-driven Push-Sum

# N						<number of nodes>
# CYCLES				<max cycles>
# PRECISION				<desired precision>
# K						<number of out links for wire_kout>
# CLUSTERS				<number of clusters for wire_cl>
# MEAN					<mean value>

# include.init 			<wire_fc | wire_kout | wire_cl> <dist_lin | dist_peak> weights
# control.obs.plotFile	<output filename>
# random.seed			<seed>

# wire_fc	... fully connected
# wire_kout	... k random edges per node
# wire_cl	... clusters: all nodes within a cluster fully connected; only one edge connecting any two clusters

# dist_lin	... node values are distributed linearly among all nodes
# dist_peak ... a peak value at one node; all other nodes have the same value 

#-------------------------------------------

N			10
CYCLES		1000000
PRECISION	1e-16
K			8
CLUSTERS	4
MEAN		2

#-------------------------------------------

network.size N
network.node GeneralNode

simulation.experiments 1
simulation.cycles CYCLES

#-------------------------------------------

protocol.lnk IdleProtocol

protocol.ps univie.cs.psps.PushSumCD
{
	linkable lnk
}

#-------------------------------------------

init.wire_fc WireKOut
{
	protocol lnk
	undir
	k N-1
}

init.wire_kout WireKOut
{
	protocol lnk
	undir
	k K
}

init.wire_cl univie.cs.psps.utils.WireClusters
{
	protocol lnk
	undir
	clusters CLUSTERS
}

init.dist_peak PeakDistribution
{
	protocol ps
	setter initializeValue
	value (N*MEAN)-(N-1)
	background 1
}

init.dist_lin LinearDistribution
{
	protocol ps
	setter initializeValue
	min MEAN-1
	max MEAN+1
}

init.weights LinearDistribution
{
	protocol ps
	setter initializeWeight
	min 1
	max 1
}

include.init wire_fc dist_lin weights

##-------------------------------------------

control.shf Shuffle

control.ps_upd univie.cs.psps.PushSumCDUpdate
{
	protocol ps
}

control.obs univie.cs.psps.utils.AggregationProtocolObserver
{
	protocol ps
	precision PRECISION
}

include shf ps_upd obs

